
html{
    box-sizing: border-box;
    }
    
  html,body{
    height: 100%;
  } 

    *,*::after, *::before{
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.3;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.section-title{


margin-bottom: 50px;
font-size: 48px;
font-weight: 700;
text-align: center;

}
.container{
    max-width: 1220px;
    
    margin: 0 auto;
    padding: 0 10px;
}


/* ---------------------------------header------------------------------------------------ */
.header__inner {
   display: flex; 
padding-top: 40px;

justify-content: space-between;
align-items: flex-end;
padding-bottom: 45px;

}
.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link{
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
.menu__list-link--active{
   color: blue;
}


.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 3;
    left:0;
    right: 0;
} 

/* ------------------------------------------main--------------------------------------- */
                                            /* top */

.main{
    flex-grow: 1;
}
.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 2;
    left:0;
    right: 0;

}
.title{

    
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
    
}

.top__link{
    display: inline-block;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    background-color: #151515;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.swiper-slide{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.swiper-wrapper{
    background-color: rgba(21, 21,21, 0.3);
}

                                           /* why-lease */

.why-lease{
    padding: 150px 0;

}
.why-lease__list{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    text-align: center;
}


.why-lease__item-img{
    margin-bottom: 30px;
}

 .why-lease__item-title{
    margin-bottom: 30px;
 font-size: 24px;
    font-weight: 700;
} 


.why-lease__item-text{
    margin-bottom: 30px;
    text-align: left;
}

                                                 /* hw-does */



.how-does{
    padding-bottom: 150px;
}

.how-does__inner{
    margin: 0 auto;
    max-width: 600px;
}
.how-does__title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;

}
.how-does__list{

    padding: 50px 0 70px;
    counter-reset: mycounter;
}


.how-does__item{
    list-style: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    padding-left: 240px;
     box-sizing: content-box; 
    padding: 19px 0 19px 240px;
    min-height: 63px;
}

.how-does__item::before{

counter-increment: mycounter;
content: counter(mycounter);
display: inline-block;
font-size: 48px;
font-weight: 700;
background-color: #0066ff;
width: 100px;
height: 100px;
border-radius: 50%;
color: #fff;

display: flex;
justify-content: center;
align-items: center;

position: absolute;
left: 0;
top: 0;
}

.how-does__item + .how-does__item{
    margin-top: 40px;
}
                                            /* video */




.video{
    margin-bottom: 150px;
}
.video__title{
    margin-bottom: 20px;
}
.video-text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video-content{
    display: block;
    margin: 0 auto;
}
                                               /* important */


.important{
    padding-bottom: 150px;
}
.important__title{
    margin-bottom: 20px;
}

.important__text{

    max-width: 580px;
    margin: 0  auto 50px;
}

.important__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
gap: 40px;
}
.important__item-img{
    margin-bottom: 20px;
}


/* -------------------------------------footer------------------------------------- */

.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
    
}

.footer__menu{

display: flex;
justify-content: space-around;
margin-bottom: 50px;


}
.footer__menu-list{
    max-width: 200px;
}
.footer__menu-title{
    font-style: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item
{
padding-top: 20px;

}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer__copy{
    max-width: 860px;
   margin: 0 auto 30px;
   text-align: center;

}

.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}


.swiper-pagination-bullet{
width: 120px;
height: 3px;
background-color: #151515;
border-radius: 0;
opacity: 1;
}
.swiper-pagination-bullet-active{
height: 6px;
background-color: #fff;
}


  .swiper-pagination-horizontal.swiper-pagination-bullets
   .swiper-pagination-bullet {
    margin: 0 15px;
    margin-bottom: 20px;
}
/* -------------------------------------------------contacts----------------------------------------------------------- */




.contacts{

    padding: 100px 0 150px;
}

.contacts__title{
    margin-bottom: 20px;
}

.contacts__text{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 100px;

}

.form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input{
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #0066ff;
    margin-bottom: 50px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.3;
}
.form__textarea{
    width: 100%;
    resize: none;
   padding: 28px 20px;
   height: 290px;
   border: 1px solid #0066ff;
   margin-bottom: 50px;

   font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.3;
}

.form__input::placeholder,.form__textarea::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.3;
}

.form__btn{
    text-transform: uppercase;
    color: #fff;
    background-color: #151515;
    padding: 13px 61px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.3;
   margin: 0 auto;

}
                                        /* blog */


.blog{
    padding-bottom: 150px;
}
.blog__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 70px;
}

.blog__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.blog__item-img{
    margin-bottom: 30px;
    width: 100%;
}


.blog__item-title{
 /* flex-basis: 446px; */
 font-size: 24px;
 font-weight: 700;
}

.blog__item-link{
    color: #fff;
    background-color: #0066ff;
   padding: 4px 20px;

}

 .blog__link{

    text-transform: uppercase;
    background-color: black;
    padding: 13px;
    color: #fff;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    display: block;

} 


/* -------------------------------------------choose----------------------------------------- */


.choose{

    padding: 100px 0 150px;
}

.tabs__btn{
    padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
  
}
.tabs__btn-item{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;

}


.tabs__btn-item-active{
    color: blue;
}
.tabs__content-item{
    display: none;
    grid-template-columns: repeat(4,1fr);
    gap: 100px 40px;
}

.tabs__content-item.tabs__content-item--active{

display: grid;
}

.card{
    text-align: center;
}

.card__img{
    display: block;
    width: 100%;
}

.card__content{
    padding: 0 5px;
    border: 1px solid blue;
    border-top: 0;
}

.card__title{
font-size: 24px;
font-weight: 700;
margin-bottom: 20px;
padding-top: 20px;

}

.card__price{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
   }

.card__link{
    
   display: block;
   color: blue;
   border: 1px solid blue;
    border-top: 0;
   
}

.card__text{
margin-bottom: 20px;
}




.tabs{
    margin-bottom: 70px;
    
    
}

/* -------------------------------------------
-------------------------------------------------ADAPTT------------------------------------------------- */

.menu__btn{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    /* сброс стилей кнопки */
    padding: 0;
 border: none;
 background-color: transparent;
 cursor: pointer;
 
}
.menu__btn span{
    height: 2px;
    background-color: #fff;
    width: 100%;
}

@media(max-width:1200px){


.important__list{
    gap:30px 20px;
}

.tabs__content-item{
    grid-template-columns: repeat(3,1fr);
}

.important__item-img{
    width:100%;
}
}

@media(max-width:1060px){

    .video-content{
           width:100%;
           
        }

        .tabs__btn{
            padding: 0 0 50px;
            justify-content: center;
            gap: 25px;
        }
        
      }

@media(max-width:860px){

.menu__list{
z-index: 5;
position: absolute;
background-color: #151515;
top: 0;
left: 0;
right: 0;
bottom: 0;
flex-direction: column;

align-items: center;
padding-top: 200px;
height: 100vh;
transform: translateY(-100%);
transition: transform .5s ease;
}


.menu__list-active.menu__list-active{
    transform: translateY(0%);
}



.menu__btn, .logo{
    position: relative;
    z-index: 10;
}
    .why-lease__list {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
    }
.menu__btn{
    display: flex;
}
.tabs__content-item{
    grid-template-columns: repeat(2,1fr);
}

.important__list{
        grid-template-columns:repeat(2,1fr);
    }
    
  }

  @media(max-width:768px){

    .title{
        font-size: 70px;
    }

    .top__link{
        padding: 16px;
        max-width: 340px;
        font-size: 28px;
    }
.swiper-pagination-bullet{
    width: 60px;
}
.video-content{
    height: 400px;
}
.footer__menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
  }






@media(max-width:650px){


    .tabs__content-item{
        grid-template-columns: repeat(1,1fr);
    }
    .blog__items{
        grid-template-columns: repeat(1,1fr);
    }

.tabs__btn-item{
    font-size: 18px;
}

.contacts{
    padding: 50px 0;
}
.form__input{
    width: 100%;
    margin-bottom: 30px;
}
.contacts__text{
    padding: 0;
}
  }









  @media(max-width:540px){


.title{
    font-size: 60px;
    }

.top__link{

    max-width: 310px;
    font-size: 24px;

}
.swiper-pagination-horizontal
.swiper-pagination-bullets
 .swiper-pagination-bullet {
    margin: 0 10px;
}

.why-lease__list{
    grid-template-columns: repeat(1,1fr);

}

.why-lease {
    padding: 50px 0;
}
.section-title{
    font-size: 34px;
}


.how-does__list {
    padding: 30px 0 40px;

}


.how-does__item{
    padding: 65px 0 19px 0;
    margin-right: auto;
   
}
.how-does__item::before{
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 32px;
}

.video-content{
    height: 200px;
}

  .how-does {
    padding-bottom: 50px;
}

.video{
    margin-bottom: 50px;
}

.important__list {
    grid-template-columns: repeat(1,1fr);
}

.app, .copy__nav-list {
   flex-direction: column;
   align-items: center;

  }
  .copy__nav-list {
    gap: 20px;
  }

}


@media(max-width:440px){


.blog__item-title{
    margin-bottom: 10px;
}

.blog__item-link{
    margin-left: auto;
}
.tabs__btn{
    
    flex-direction: column;
   }

.choose{
    padding: 50px 0;
}

.tabs__content-item{
    gap: 40px;
}
.blog{
    padding-bottom: 50px;
}

}










